@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

@import url('../assets/icon/fontawesome.min.css?family=Font-Awesome-5');

@import "mixins/gradient-transition.scss"; /* smooth gradient transition */
@import "mixins/toggle.scss";

$primary: #9356DC;
$prim-mid: #c896ff;
$prim-light: #F5EDFF;

$secondary: #FF79DA;
$tertiary: #99E2D0;

$darker: #000000;
$dark: #333;
$dark-grey: #353535;
$mid-grey: #ababab;
$light: #eaeaea;
$xtra-light: #f6f6f6;
$lighter: #FFFFFF;

$shadow: 0px 5px 7px #00000020;
$hover-shadow: 0px 5px 14px #00000025;
$txt-shadow: 0px 1px 1px #00000030;

/* ---- reset & common styles ---- */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

html {
    line-height: 1.5rem;
    color: $dark;
    scroll-behavior: smooth;
}

html,
input#search__input,
button,
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: $dark;
}

body,
ul,
h1,
h2,
h3,
p,
button,
div,
a,
a:visited,
a:hover {
    text-decoration: none;
    color: $dark;
}

main {
    margin: 0 auto;
    width: 100vw;
    overflow-x: hidden;
}
/* ---- end reset & common styles ---- */

/* ---- basic HTML elements ---- */
h1, h2, h3 {
    font-weight: 700;
}

h1, h2 {
    font-size: 1.5rem;

}

h3 {
    font-size: 1.125rem;
}

a, .button, .card, :hover {
    transition: all .2s ease-in-out;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    overflow: auto;
    image-rendering: auto;
}

.btn {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    text-align: center;
}

.fa, .fas {
    font-style: normal;
    margin-right: 1rem;
}
/* ---- end basic HTML elements ---- */

/* ---- center ---- */
.h-center {
    display: flex;
    justify-content: center;
}

.v-center {
    display: flex;
    align-items: center;
}

.center {
    display: grid;
    place-items: center;
}
/* ---- end center ---- */

/* ---- placeholder img & icons width & height ---- */
.img {
    width: 95px;
    height: 45px;
}
/* ---- end placeholder img & icons width & height ---- */

/* ---- page parts ---- */
.main-block,
footer {
    font-family: 'Shrikhand', serif;
}

/* ---- header ---- */
header {
    box-shadow: 0px 6px 8px rgba(51, 51, 51, 0.15);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: $lighter;
    min-height: 64px;
    z-index: 110;
    box-shadow: $shadow;
}

header a {
    width: 100%;
    height: 100%;
}

header i {
    position: absolute;
    left: 45px;
}

header img {
    max-width: 165px;
}

/* ---- map-search form ---- */
.map-search {
    width: 100%;
    align-items: flex-start;
    padding: 15px;
    background: $light;
}

.map-search form {
    max-width: 160px;
}

.map-search input {
    background: transparent;
    outline: none;
    border: none;
    
    &:hover {
        background: $lighter;     
    }
}

::placeholder {
    font-style: italic;
    opacity: .4;
    text-overflow: ellipsis;
    background: $light;
}

#search__input:focus-visible::placeholder {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

#search__input:focus-visible {
    outline: none;
    background: white;
}

/* ---- banner ---- */
.banner, .restau {
    background-color: $xtra-light;
}

.banner {
    height: 288px;
    padding: 20px;
    width: 100%;
}

.banner, .banner__content {
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.banner h1 {
    font-size: 23px;
    max-width: 250px;
    margin: 20px;
}

.banner__content p {
    font-weight: 300;
    max-width: 300px;
}

.banner__btn {
    box-shadow: $shadow;
    @include gradientAnimation($secondary, $primary, .2s);
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: solid 1px $light;
    margin: 20px auto 40px;
    max-width: 222px;
    
    & a {
        display: inline-block;
        color: $xtra-light;
        padding: 18px 22px;
        -webkit-border-radius: 28px;
        border-radius: 28px;
    }

    &:hover {
        @include gradientAnimation($secondary, $primary, .2s);
        border-color: $lighter;
        box-shadow: $hover-shadow;
        text-shadow: $txt-shadow;
    }
}

/* ---- nav ---- */
nav, .restau {
    padding: 68px 20px ;
}

.nav, .restau {
    flex-direction: column;
}

.nav a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    color: $mid-grey;
    padding: 25px;
    margin-top: 20px;
    border-radius: 20px;
    width: 324px;
    background: $xtra-light;
    box-shadow: $shadow;
    
    &:hover {
        color: $primary;
        background: $prim-light;
        box-shadow: $hover-shadow;
    }
}

.nav a span {
    content: '';
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
    position: absolute;
    background: $primary;
    font-size: .8rem;
    color: $xtra-light;
    padding: 1px 8px 22px;
    left: -10px;
}

.nav i {
    width: .86rem;
    margin-right: 25px;
    margin-left: 22px;
    font-size: 1.4rem;
}

.nav a:nth-last-child(-n+2) i {
    font-size: 1rem;
}

.nav p {
    font-weight: bold;
}

/* ---- restaurants ---- */
.restau {
    width: 100%;
    height: auto;
}

.cards {
    flex-direction: column;
}

.card {
    margin-top: 20px;
    width: 335px;
    height: 252px;
    background: $lighter;
    border-radius: 1rem;
    overflow: hidden;
    
    &:hover {
        box-shadow: $shadow;
    }
}

.card__img {
    position:relative;
    width: 100%;
    height: 175px;
    overflow: hidden;
}
.card__img img {
    position: absolute;
    bottom: 0;
}

.restau-3 img {
    bottom: -53%;
}

.card__content {
    padding: 14px;
    position: relative;
}

.card__content span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.icon-heart {
    @include iconToggle("\f004", "\f004", lightgrey, pink, 400, 900);
}

.icon:before {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-size: 2rem;
}

.toggle {
    opacity: 0;
    border: 0;
    outline: none;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.fa-heart {
    font-size: 2rem;
    color: $mid-grey;

    &:hover, :focus-visible {
        color: $secondary;
        background-color: linear-gradient($secondary, $primary);
        font-weight:900;
    }
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.card__content p {
    font-weight: lighter;
}

/* ---- footer ---- */
footer {
    background-color: $dark-grey;
    height: 197px;
    padding: 20px 25px;
}

footer a, footer i, footer h2, footer p {
    color: $xtra-light;
}

footer a:hover i, footer a:hover h2, footer a:hover p {
    color: $prim-mid;
}

.footer__box {
    width: 100%;
    max-width: 375px;
}

.footer__content {
    margin-top: 1rem;
}

.footer__content a {
    display: flex;
    margin-top: 3px;
}

footer h2 {
    font-size: 1.1rem;
    letter-spacing: 0.034em;
    font-weight: normal;
}

footer i {
    font-size: 1rem;
}

.footer__content > a:nth-child(2) i {
    font-size: .8rem;
    margin-right: 13px;
    }
