@mixin iconToggle($leftIcon, $rightIcon, $color1, $color2, $fontWgt1, $fontWgt2) {
  .toggle {
    ~.icon:before {
      content: $leftIcon;
      color: $color1;
      font-weight: $fontWgt1;
    }
    &:checked {
      ~.icon:before {
        content: $rightIcon;
        color: $color2;
        font-weight: $fontWgt2;    
      }
    }
  }
}
  
  // Usage
  .icon-heart {
    @include iconToggle("\f004", "\f004", lightgrey, pink, 400, 900);
  }