/* ---- cards launch animations ----- */
.menu {
  .card {
    $max-cards-number: 4;
    $animation-duration: 700ms;
    $animation-delay: 300ms;
    $add-delay: 300;

    @for $i from 1 through $max-cards-number {
        &:nth-child(#{$i}) {
            animation: menu-items-launch linear $animation-duration $animation-delay;
            $animation-delay: $animation-delay + $add-delay;
            animation-fill-mode: both;
          }
        }
  }
}

@keyframes menu-items-launch {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}