@import "../utils/variables/colors.scss";

/* ---- media queries ---- */
@media (min-width: 250px) and (max-width: 374px) {
    header a span i::before {
        position: absolute;
        transform: translateY(-12px);
        left: 7vw;
    }

    .banner {
        padding: 20px 10px;

        p { margin: auto 16px;}
    }

    .menu__banner {
        width: 100%;
        min-height: 190px;
        max-height: 220px;
        position: relative;
    }

    .page__menus .menu { width: 100vw; }
    
    #nav, .restau { padding: 4.25rem .25rem; }

    .card {
        max-width: 96vw;

        .card__img { height: 150px; }

        .card__content { max-width: 100%; }
    }

    .nav__box {
        max-width: 85vw;
        
        a {
            width: auto;
            padding: 20px 10px;
        }
    }
        
    .menu {
        .card {
            .card__txt {
                max-width: 282px;
                
                p { max-width: 242px; }
            }

            .card:hover .card__check { transform: translate(0px, 0px); }
        }
    }

    footer { padding: 2.5rem 2rem; }
}

@media (min-width: 375px) and (max-width: 500px) {
    nav, .restau {
        padding: 4.25rem 1.25rem;
    }

    .menu { margin-bottom: -50px; }
        
    .menu__banner {    
        height: 33vh;
        width: 100vw;
        min-height: 250px;
        max-height: 250px;
    
        img {
            position: absolute;
            width: 100vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media (min-width: 450px) {
    .banner { background: linear-gradient(90deg, $sec-light 0%, $xtra-light 20%,$xtra-light 80%, $sec-light 100%); }

    footer {
        height: auto;
        padding: 2.5rem 2rem;

        .footer__content a { margin-top: 1rem; }
    } 
}

@media (min-width: 500px) {
    nav, .restau { padding: 4.25rem 1.25rem; }

    .restau .cards { width: auto; }

    .restau .card {
        min-width: 350px;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 640px) {
    .menu__banner {
        display: flex;
        justify-content: center;
        width: 100vw;
        max-height: 350px;

        img { width: 640px; }
        
        span::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 426px;
            background: linear-gradient(90deg, $banner-mid 0%, $banner 25%, $banner 75%, $banner-mid 100%);
            z-index: -2;
        }
    }

    .menu article {
        .sides-a,
        .sides-b,
        .sides-c { display: flex; }
    }
    
    footer {
        background: linear-gradient(90deg, $transp-darker 0%, $dark 50%, $transp-darker 100%);
        padding: 4.25rem 1.25rem;

        .footer__box { max-width: 320px; }
    }
}

@media (min-width: 800px) {
    .menu .banner__content { height: 426px; }

    .banner h1,
    .banner p { max-width: 70vw; }

    nav h2 { margin-left: -.8rem; }

    .nav__box, .restau .cards, .footer__content {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem 3rem;
    }

    .restau {
        background: linear-gradient(90deg, $light 0%, $xtra-light 25%,$xtra-light 75%, $light 100%);
    }

    .menu article .sides-a,
    .menu article .sides-b,
    .menu article .sides-c {
        .sides__left,
        .sides__right { width: 25%; }
    }

    footer {
        padding: 4.25rem 1.25rem;
        display: flex;
        justify-content: center;
        height: auto;
        
        .footer__box {
            max-width: 748px;
            
            & > a:nth-child(1) { margin-bottom: .4rem; }
        }
    }
    
    .footer__content {
        display: grid;
        grid-template-rows: repeat(2, auto);
        padding-left: 1rem;
        
        a {
            width: 350px;
            
            &:nth-child(2) { grid-row-start: 2; }
        }
    }

    .page__menus footer {
        .footer__content {
            padding-left: 0;
            gap: 1rem 10rem;
            
            a { width: 100%; }
        }
    }
}

@media (min-width: 1000px) {
    .nav__box, .restau .cards, .footer__content {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem 3rem;
    }

    .menu article .sides-a,
    .menu article .sides-b,
    .menu article .sides-c {
        .sides__container { justify-content: space-evenly; }

        .sides__left .sides__ico,
        .sides__left .sides__img,
        .sides__right .sides__ico,
        .sides__right .sides__img {
            width: calc(100% - 60px);
        }
        
        .sides__left .sides__ico,
        .sides__left .sides__img { margin-right: 30px; }
        
        .sides__right .sides__ico,
        .sides__right .sides__img { margin-left: 30px; }
        
        .sides__box { width: 95.5%; }
    }

    .page__menus footer .footer__content { gap: 1rem 15rem; }
}

@media (min-width: 1280px) {
    .page__menus footer .footer__content { gap: 1rem 20rem; }
}

@media (min-width: 1440px) {
    .nav__box, .restau .cards, .footer__content { grid-template-columns: repeat(3, auto); }
    
    footer .footer__box { max-width: 1146px; }

    .page__menus footer .footer__content { grid-template-columns: repeat(3, 200px); }
}
        
@media (min-width: 1920px) {
    .restau .cards, .footer__content { grid-template-columns: repeat(4, auto); }

    footer .footer__box { max-width: 1544px; }

    .footer__content a:nth-child(2) { grid-row-start: 1; }    
}