@import "../utils/variables/colors.scss";

.menu {
    .card {
        position: relative;
        display: flex;
        min-width: auto;
        max-width: 338px;
        padding: 10px;
        cursor: pointer;
        box-shadow: $shadow;

        &:hover { box-shadow: $hover-shadow-light; }

        p,
        span { font-size: 0.875rem; }

        .card__txt {
            padding: 0;
            width: 100%;
            max-width: 312px;
            transition: all .5s .1s;

            p,
            h3 {
                overflow: hidden; /* for text-overflow */
                white-space: nowrap; /* for text-overflow */
                text-overflow: ellipsis;
            } 
        }
        
        &:hover .card__txt {
            width: 67%;
            max-width: 246px;
            transition: all .5s;
        }

        span {
            position: absolute;
            width: 10%;
            bottom: 10px;
            right: 0;
            margin-left: 1rem;
            display: flex;
            align-items: flex-end;
            transform: translateX(0);
            transition: transform .5s;
        }

        &:hover span {
            transform: translateX(-60px);
            transition: all .5s .1s;
        }

        .card__check {
            display: flex;
            position: absolute;
            top: 0;
            right: -60px;
            width: 60px;
            height: 100%;
            padding: 22px 20px;
            margin-left: 1rem;
            background: $tert-mid;
            transform: translateX(0);
            transition: transform .5s;
            visibility: hidden;
            border-radius: 0 1rem 1rem 0;

            input { display: none; }

            /* --- toggle icon --- */        
            .toggle:checked + label:before {
                content: "\f058";
                font-family: 'Font Awesome 5 Free';
                font-size: 1.25rem;
                color: $lighter;
            }
        }

        .card__check label {
            transform-origin: 50% 45%;
            transform: rotate(0turn);
            transition: all .5s;


            &::before {
                font-family: 'Font Awesome 5 Free';
                content: "\f057";
                font-size: 1.25rem;
                font-weight: 400;
                color: $lighter;
            }
        }

        &:hover .card__check {
            visibility: visible;
            transform: translateX(-60px);
            transition: all .5s .1s;

            label {
                transform: rotate(1turn);
                transition: all .5s .1s;
            }
        }
    }
}