@import "../utils/variables/colors.scss";

/* ---- spinner ----- */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    visibility: hidden;
    
    .loader__box {
        position: absolute;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: center;
        white-space: nowrap;
        background-color: $dark;
        opacity: 0;
        animation: loader-anim linear 1.2s;   
    }
}

@keyframes loader-anim {
    0% {
        opacity: 1;
        visibility: visible;
    }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

$spinner-size: 67px !default;
$spinner-color: $primary !default;

.spinner {
    font-size: $spinner-size;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;

    div {
        position: absolute;
        left: .4629em;
        bottom: 0;
        width: .074em;
        height: .2777em;
        border-radius: .5em;
        background-color: transparent;
        transform-origin: center -.2222em;

        $animation-delay: 0s;
        $blade-rotation: 0deg;

        @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
                animation-delay: $animation-delay;
                transform: rotate($blade-rotation);
                $blade-rotation: $blade-rotation + 30;
                $animation-delay: $animation-delay + .083;
            }
        }
    }
}

body .spinner div { animation: spinner-fade .6s linear; }

@keyframes spinner-fade {
    0% {
        background-color: $spinner-color;
    }

    100% {
        background-color: transparent;
    }
}

/* --- usage --- */
/*
<div class="loader center">
<div class="loader__box center">
        <div class="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
*/