@import "../utils/variables/colors.scss";

/* ---- spinner ----- */
@keyframes loader-anim {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.loader {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background: $transp-bg;
    animation: loader-anim 1.5s;
}

$spinner-size: 75px !default;
$spinner-color: $primary !default;

.spinner {
    font-size: $spinner-size;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;

    & div {
        position: absolute;
        left: .4629em;
        bottom: 0;
        width: .074em;
        height: .2777em;
        border-radius: .5em;
        background-color: transparent;
        transform-origin: center -.2222em;
        animation: spinner-fade 1s infinite linear;

        $animation-delay: 0s;
        $blade-rotation: 0deg;

        @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
                animation-delay: $animation-delay;
                transform: rotate($blade-rotation);
                $blade-rotation: $blade-rotation + 30;
                $animation-delay: $animation-delay + .083;
            }
        }
    }
}

@keyframes spinner-fade {
    0% {
        background-color: $spinner-color;
    }

    100% {
        background-color: transparent;
    }
}