$primary: #9356DC;
$prim-mid: #c896ff;
$prim-light: #f4ebff;

$secondary: #ff7ad9;
$sec-mid: #ffc2ed;
$sec-light: #ffeefb;

$tertiary: #008766;
$tert-mid: #99E2D0;
$tert-light: #e8fff9;

$banner: #FFD649;
$banner-mid: #ffc815;

$sides-ico: #ffc81599;
$sides-ico-mid: #ffd64999;

$darker: #000000;
$dark: #333;
$dark-grey: #353535;
$mid-grey: #ababab;
$light: #eaeaea;
$xtra-light: #f6f6f6;
$lighter: #FFFFFF;

$transp-dark: hsla(0, 0%, 0%, 0.3);
$transp-darker: hsla(0, 0%, 0%, 0.9);

$shadow: 0px 5px 9px #00000015;
$hover-shadow: 0px 5px 7px #00000050;
$hover-shadow-light: 0px 6px 10px #00000020;
$txt-shadow: 0px 0px 3px #00000060;