$primary: #9356DC;
$prim-mid: #c896ff;
$prim-light: #F5EDFF;

$secondary: #ff7ad9;
$sec-mid: #ffc2ed;

$tertiary: #008766;
$tert-mid: #99E2D0;

$darker: #000000;
$dark: #333;
$dark-grey: #353535;
$mid-grey: #ababab;
$light: #eaeaea;
$xtra-light: #f6f6f6;
$lighter: #FFFFFF;

$transp-bg: #333333d9;

$shadow: 0px 5px 7px #00000020;
$hover-shadow: 0px 5px 14px #00000025;
$txt-shadow: 0px 1px 1px #00000030;