$primary: #9356dc;
$prim-mid: #c896ff;
$prim-light: #f4ebff;

$secondary: #ff7ad9;
$sec-mid: #ffc2ed;
$sec-light: #ffeefb;

$tert-dark: #166854;
$tertiary: #008766;
$tert-mid: #99e2d0;
$tert-light: #e8fff9;

$banner: #ffd649;
$banner-mid: #ffc815;

$sides-ico: #ffc81599;
$sides-ico-mid: #ffd64999;

$darker: #000000;
$dark: #333333;
$dark-grey: #353535;
$mid-grey: #ababab;
$light: #eaeaea;
$xtra-light: #f6f6f6;
$lighter: #ffffff;

$transp-dark: #0000004d;
$transp-darker: #000000e6;

$shadow: 0px 5px 9px #00000015;
$hover-shadow: 0px 5px 7px #00000050;
$hover-shadow-light: 0px 6px 10px #00000020;
$card-shadow: 0px 2px 30px $light;
$txt-shadow: 0px 0px 2px #00000060;
$txt-shadow-light: 0px 0px 20px #ffffff60, 0px 0px 2px $lighter;
$txt-shadow-dark: 0px 0px 10px $darker;