@import "../utils/variables/colors.scss";

/* ---- cards nav ---- */
.nav__box, .restau { flex-direction: column; }

.nav__box {
    & a {
        position: relative;
        display: flex;
        justify-content: flex-start;
        color: $mid-grey;
        padding: 25px;
        margin-top: 20px;
        border-radius: 20px;
        width: 324px;
        background: $xtra-light;
        box-shadow: $shadow;
        
        &:hover {
            color: $primary;
            background: $prim-light;
            box-shadow: $hover-shadow-light;
        }
    }
    
    & a span {
        content: '';
        max-width: 24px;
        max-height: 24px;
        border-radius: 50%;
        position: absolute;
        background: $primary;
        font-size: .8rem;
        color: $xtra-light;
        padding: 1px 8px 22px;
        left: -10px;
    }
    
    & i {
        width: .86rem;
        margin-right: 25px;
        margin-left: 22px;
        font-size: 1.4rem;
    }
    
    & a:nth-last-child(-n+2) i { font-size: 1rem; }
    
    & p { font-weight: bold; }
}

/* ---- restaurants ---- */
.restau {
    width: 100%;
    height: auto;
}
    
.cards {
    flex-direction: column;
    width: 90vw;
}

.card {
    margin-top: 20px;
    padding-bottom: 2px;
    min-width: 100%;
    max-width: 450px;
    max-height: 252px;
    background: $lighter;
    border-radius: 1rem;
    overflow: hidden;
    
    &:hover { box-shadow: $shadow; }
}

.card__img {
    position:relative;
    height: 175px;
    overflow: hidden;

    & img {
        position: absolute;
    }
}

.restau-2 img { bottom: -53%; }

.card__new {
    position: absolute;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    background: $tert-mid;
    font-size: .8rem;
    color: $tertiary;
    padding-top: 3.5px;
    text-align: center;
    font-weight: 500;
    top: 14px;
    right: 12px;
    z-index: 10;
}

.card__content {
    padding: 14px;
    position: relative;
    max-width: 96%;

    & p { font-weight: lighter; }

    & form {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
    }
}
