@import "../utils/variables/colors.scss";

/* ---- banner ---- */
.banner, .restau { background-color: $xtra-light; }

.banner {
    height: 288px;
    padding: 20px;
    width: 100%;

    & h1 {
        font-size: 23px;
        max-width: 250px;
        margin: 20px;
    }
}

.banner, .banner__content {
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.banner__content p {
    font-weight: 300;
    max-width: 300px;
}

.big__btn {
    box-shadow: $shadow;
    @include gradientColorSmoothAnim($primary, $secondary); // ($start, $end)
    border-radius: 28px;
    // border: solid 1px $light;
    margin: 20px auto 40px;
    max-width: 222px;
    
    & a {
        display: inline-block;
        color: $lighter;
        padding: 13px 22px;
        border-radius: 28px;
    }

    &::before { display: none; }

    &:hover {
        background: linear-gradient(.97turn, $primary, $secondary);
        opacity: .85;
        border-color: $lighter;
        box-shadow: $hover-shadow;
        text-shadow: $txt-shadow;
    }
}