@import "../utils/variables/colors.scss";

/* ---- banner ---- */
.banner, .restau { background-color: $xtra-light; }

.banner {
    height: 288px;
    padding: 20px;
    width: 100%;

    h1 {
        font-size: 23px;
        max-width: 250px;
        margin: 20px;
    }
}

.banner, .banner__content {
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.banner__content p {
    font-weight: 300;
    max-width: 300px;
}