@import "../utils/variables/colors.scss";

/* ---- reset & common styles ---- */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus { outline: none; }

html {
    line-height: 1.5rem;
    color: $dark;
    scroll-behavior: smooth;
}

html,
input#search__input,
button,
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: $dark;
}

body,
ul,
h1,
h2,
h3,
p,
button,
div,
a,
a:visited,
a:hover {
    text-decoration: none;
    color: $dark;
}

main, footer {
    margin: 0 auto;
    width: 100vw;
    overflow-x: hidden;
}
/* ---- end reset & common styles ---- */

/* ---- basic HTML elements ---- */
h1, h2, h3 { font-weight: 700; }

h1, h2 { font-size: 1.5rem; }

h3 { font-size: 1.125rem; }

a, form, .button, .card, :hover, ::before, ::after { transition: all 250ms ease-in-out; }

li { list-style: none; }

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    overflow: auto;
    image-rendering: auto;
}

.btn {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    text-align: center;
}

.fa, .fas {
    font-style: normal;
    margin-right: 1rem;
}
/* ---- end basic HTML elements ---- */

/* ---- center ---- */
.h-center {
    display: flex;
    justify-content: center;
}

.v-center {
    display: flex;
    align-items: center;
}

.center {
    display: grid;
    place-items: center;
}

/* ---- space-between ---- */
.space-b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ---- space-around ---- */
.space-rnd {
    width: 97vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}



/* ---- checkbox toggle ---- */
.toggle {
    input { display: none; }

    & >* { cursor: pointer; }
}
